#goBack{
 margin-left: 85px;
}

.form{
  border: solid;
    text-align: center;
    margin-top: 10px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: fit-content;
}

h3 span {
  font-size: 25px;
  color: green
}

.comm{
  margin: 10px 10px 10px 10px;
  border: 0.2px solid gray;
  padding: 10px
}

#au{
    font-style: italic;
    /* font-weight: bold; */
    font-size: x-large;
    color: blue;
}

.comm span{
  font-size: 12px
}

#loading {
            background: url(https://cdn.jsdelivr.net/gh/Holi-Projects/react-Blog-App@master/2.webp) no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 9999999;
        }
